CompassCM_IDFC_V2/src/main/webapp/WEB-INF/config/schema/aml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="aml" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="CompassSchema.xsd"/>

  <xs:complexType name="amlEmail">
    <xs:sequence>
      <xs:element name="amlAuthId" type="authId" maxOccurs="1" minOccurs="1"/>
      <xs:element name="amlEmailId" type="emailId" maxOccurs="1" minOccurs="1"/>
      <xs:element name="amlEmailPassword" type="emailPassword" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

