CompassCM_IDFC_V2/src/main/webapp/WEB-INF/config/schema/etl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="etl" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="CompassSchema.xsd"/>

  <xs:complexType name="etlEmail">
    <xs:all>
      <xs:element name="etlAuthId" type="authId" maxOccurs="1" minOccurs="1"/>
      <xs:element name="etlEmailId" type="emailId" maxOccurs="1" minOccurs="1"/>
      <xs:element name="etlEmailPassword" type="emailPassword" maxOccurs="1" minOccurs="1"/>
    </xs:all>
  </xs:complexType>
</xs:schema>

